<a href="https://colab.research.google.com/github/rubenjesus02002/cis3120-python-programming/blob/main/Astronauts_In_Space.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [2]:
import requests
import json
import pandas as pd

Set URL of the endpoint

In [3]:
url = 'http://api.open-notify.org/astros.json'

Make a request to the endpoint

In [4]:
r = requests.get(url)

Check the status code

In [5]:
r.status_code

200

Extract the json from the response

In [6]:
data = r.json()
print(data)

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

Format the JSON as a string

In [7]:
formatted_json = json.dumps(data, sort_keys = True, indent = 5)
print(formatted_json)

{
     "message": "success",
     "number": 12,
     "people": [
          {
               "craft": "ISS",
               "name": "Oleg Kononenko"
          },
          {
               "craft": "ISS",
               "name": "Nikolai Chub"
          },
          {
               "craft": "ISS",
               "name": "Tracy Caldwell Dyson"
          },
          {
               "craft": "ISS",
               "name": "Matthew Dominick"
          },
          {
               "craft": "ISS",
               "name": "Michael Barratt"
          },
          {
               "craft": "ISS",
               "name": "Jeanette Epps"
          },
          {
               "craft": "ISS",
               "name": "Alexander Grebenkin"
          },
          {
               "craft": "ISS",
               "name": "Butch Wilmore"
          },
          {
               "craft": "ISS",
               "name": "Sunita Williams"
          },
          {
               "craft": "Tiangong",
               "name": "Li Guangsu"
          },
          {
               "craft": "Tiangong",
               "name": "Li Cong"
          },
          {
               "craft": "Tiangong",
               "name": "Ye Guangfu"
          }
     ]
}

In [8]:
data['people']

[{'craft': 'ISS', 'name': 'Oleg Kononenko'},
 {'craft': 'ISS', 'name': 'Nikolai Chub'},
 {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'},
 {'craft': 'ISS', 'name': 'Matthew Dominick'},
 {'craft': 'ISS', 'name': 'Michael Barratt'},
 {'craft': 'ISS', 'name': 'Jeanette Epps'},
 {'craft': 'ISS', 'name': 'Alexander Grebenkin'},
 {'craft': 'ISS', 'name': 'Butch Wilmore'},
 {'craft': 'ISS', 'name': 'Sunita Williams'},
 {'craft': 'Tiangong', 'name': 'Li Guangsu'},
 {'craft': 'Tiangong', 'name': 'Li Cong'},
 {'craft': 'Tiangong', 'name': 'Ye Guangfu'}]

In [9]:
spacecrafts = []
names = []

In [10]:
# extract the craft and name values from each dictionary in the list
for x in data['people']:
  spacecrafts.append(x['craft'])
  names.append(x['name'])

In [11]:
space_data = {
              'Spacecraft': spacecrafts,
              'Names': names
            }

df  = pd.DataFrame(space_data)
df

   Spacecraft                 Names
0         ISS        Oleg Kononenko
1         ISS          Nikolai Chub
2         ISS  Tracy Caldwell Dyson
3         ISS      Matthew Dominick
4         ISS       Michael Barratt
5         ISS         Jeanette Epps
6         ISS   Alexander Grebenkin
7         ISS         Butch Wilmore
8         ISS       Sunita Williams
9    Tiangong            Li Guangsu
10   Tiangong               Li Cong
11   Tiangong            Ye Guangfu

Exporting the data as a CSV value

In [12]:
df.to_csv('Space_Data.csv', index=False)

In [13]:
data.keys()

dict_keys(['people', 'number', 'message'])

In [14]:
type(formatted_json)

str

In [15]:
type(data)

dict

In [ ]:
# Extract the names and spacecrafts of all astronauts to a CSV file.
# The CSV file will have 2 columns, `spacecraft` and `astronaut`