<a href="https://colab.research.google.com/github/rubenjesus02002/cis3120-python-programming-/blob/main/Basic_OOP_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A class is an abstract data type.
# An integer, string, char, bool, float, etc are primitive data types.
class Person:
  # Constructor - special method that is called whenever an object is created
  def __init__(self, name, age, address, zipcode, occupation):
    # Properties - variables that are associated with a particular class
    self.name = name
    self.age = age
    # Adding the double underbar makes these properties private
    self.__address = address
    self.__zipcode = zipcode
    self.occupation = occupation

    print(f"Constructor is called when creating {self.name}'s object.")

  # Getters- these are methods that return data contained in class properties
  def get_name(self):
    return self.name

  def get_age(self):
    return self.age

  def get_occupation(self):
    return self.occupation

  def get_address(self):
    return self.address

  def get_zipcode(self):
    return self.zipcode

  # Setters - methods that change or update the class properties
  def set_occupation(self, new_occupation):
    self.occupation = new_occupation

  def set_age(self, new_age):
    if new_age < 0:
      print('Error: Invalid age value!')
      return
    self.age = new_age

  def set_address(self, new_address):
    self.address = new_address

  def set_zipcode(self, new_zipcode):
    self.zipcode = new_zipcode

  def set_name(self, new_name):
    self.name = new_name

In [ ]:
# Creating an Employee class which will extend or inherit the Person class
class Employee(Person):
  # constructor
  def __init__(self, name, age, address, zipcode, occupation, salary, emplid, job_title):
    super().__init__(name, age, address, zipcode, occupation)

    # setting the class properties
    self.salary = salary
    self.emplid = emplid
    self.job_title = job_title

  # setter methods
  def set_salary(self, new_salary):
    self.salary = new_salary

  def set_emplid(self, new_emplid):
    self.emplid = new_emplid

  def set_job_title(self, new_job_title):
    self.job_title = new_job_title

    # getter methods
  def get_salary(self):
      return self.salary

  def get_emplid(self):
      return self.emplid

  def get_job_title(self):
      return self.job_title

In [ ]:
# Instantiate an object of the Employee class
mike = Employee('Mike', 30, '2 Water Street', 54123, 'Engineer', 120000, 1234, 'Engineer - Level 1')

Constructor is called when creating Mike's object.

In [ ]:
mike.set_age(-40)

Error: Invalid age value!

In [ ]:
mike.age = -20

In [ ]:
mike.age

-20

In [ ]:
# Print Mike's name, job title, and salary
print(f'Name: {mike.get_name()}')
print(f'Job Title: {mike.get_job_title()}')
print(f'Salary: $ {mike.get_salary()}')
print(f'Age (before birthday): {mike.get_age()}')

# Today is Mike's birthday, we need to +1 to Mike's age
mike.set_age(mike.get_age() + 1 )
print(f'Age on birthday: {mike.get_age()}')

Name: Mike
Job Title: Engineer - Level 1
Salary: $ 120000
Age (before birthday): 30
Age on birthday: 31

In [ ]:
'''
  Create a class by the name of Patient. Patient inherits everything from the Person class.
  Patient has two new properties: - medical_condition, medication
'''
class Patient(Person):
  # create the constructor
  def __init__(self, name, age, address, zipcode, occupation, medical_condition, medication):
    # call the super constructor
    super().__init__(name, age, address, zipcode, occupation)
    self.medical_condition = medical_condition
    self.medication = medication

  # create setters
  def set_medical_condition(self, new_medical_condition):
    self.medical_condition = new_medical_condition

  def set_medication(self, new_medication):
    self.medication = new_medication

  # create getters
  def get_medication(self):
    return self.medication

  def get_medical_condition(self):
    return self.medical_condition

# Create an ojbect of the Patient class
patient_1 = Patient('Random Person', 25, '3 Main Street', 31331, 'Baker', 'Flu', 'Cough Syrup')

# Print the patient's name, address, medical condition, and medication
print(f'Name: {patient_1.get_name()}')
print(f'Full Address: {patient_1.get_address()}, {patient_1.get_zipcode()}')
print(f'Medical Condition: {patient_1.get_medical_condition()}, Medication: {patient_1.get_medication()}')

Constructor is called when creating Random Person's object.
Name: Random Person
Full Address: 3 Main Street, 31331
Medical Condition: Flu, Medication: Cough Syrup

In [ ]:
# Creating an object of the Person class
# Instantiating a class - this means I am creating an object of the class
joan = Person('Joan', 22, '1 Main Street', 90121, 'Engineer' )

Constructor is called when creating Joan's object.

In [ ]:
# Accessing the class properties via getters
print(f'Name: {joan.get_name()}')
print(f'Before Birthday - Age: {joan.get_age()}')
print(f'Occupation: {joan.get_occupation()}')
print(f'Full Address: {joan.get_address()}, {joan.get_zipcode()}')

Name: Joan
Before Birthday - Age: 22
Occupation: Engineer
Full Address: 1 Main Street, 90121

In [ ]:
# Accessing the class properties directly
print(f'Name: {joan.name}')
print(f'Before Birthday - Age: {joan.age}')
print(f'Before Promotion - Occupation: {joan.occupation}')
joan.set_occupation('Senior Engineer')
print(f'After Promotion - Occupation: {joan.occupation}')
joan.set_age(23)
print(f'After Birthday - Age: {joan.age}')

Name: Joan
Before Birthday - Age: 22
Before Promotion - Occupation: Engineer
After Promotion - Occupation: Senior Engineer
After Birthday - Age: 23

In [ ]:
lisa = Person('Lisa', 35, '2 Lexington Ave', 11411, 'Architect' )

Constructor is called when creating Lisa's object.

In [ ]:
print(f'Name: {lisa.name}')
print(f'Age: {lisa.age}')

Name: Lisa
Age: 35

In [ ]:
matthew = Person('Matthew', 40, '44 Ocean Drive', 24911, 'Banker')

Constructor is called when creating Matthew's object.

In [ ]:
print(f'Name: {matthew.name}')
print(f'Age: {matthew.age}')

Name: Matthew
Age: 40

In [ ]:
name = ['Joan', 'Lisa', 'Matthew', 'Leon']
age = [22, 35, 40, 21]
address = ['1 Main Street', '2 Lexington Ave', '44 Ocean Drive', '4 Water Street']
zipcode = [90121, 11411, 29421, 24911]
occupation = ['engineer', 'architect', 'banker', 'chef']

In [ ]:
print(f'Name: {name[1]}')
print(f'Age: {age[1]}')
print(f'Address: {address[1]}, {zipcode[1]}')
print(f'Occupation: {occupation[1]}')

Name: Lisa
Age: 35
Address: 2 Lexington Ave, 11411
Occupation: architect